body{
    background-image: url("https://media.istockphoto.com/vectors/chat-bubble-seamless-pattern-vector-id938068106?k=20&m=938068106&s=612x612&w=0&h=Wg7CuhCohXWr0TFGylgd5V1HBL8V4LWpqfUURWaEi5s=");
}


.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow:  5px 5px 5px lightgreenx;
}

.note{
    font-size: 20px;
    color: crimson;
}

.footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: coral;
    text-align: center;
    color: white;
    line-height: 3;
}

canvas{
    border: 3px solid lightblue;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(160, 104, 0);
}